* {
  margin: 0;
  padding: 0;
}

main {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.main-container {
  display: flex;
  flex-direction: column;
  
}

.rows {
  display: flex;
  flex-direction: row;
}

.boxes {
  border: solid 1px;
  max-width: 250px;
  max-height: 250px;
  width: 25vw;
  height: 25vw;
}
